Repository dzeyelid/crawler-hosted-on-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-crawler.yml, azure-pipelines-functions.yml

Path conditions:
  azure-pipelines-crawler.yml: any of: src/crawler, but not: src/crawler/README.md
  azure-pipelines-functions.yml: any of: src/functions, but not: src/functions/README.md

Update tsconfig in src/crawler.
  src/crawler/tsconfig-base.json
Due: azure-pipelines-crawler.yml

Update comments in src\crawler.
  src/crawler/src/index.ts
Due: azure-pipelines-crawler.yml

Update a pipeline definition for crawler.
  azure-pipelines-crawler.yml
Due: none

Update lib directory in src/crawler.
  src/crawler/lib/index.js
  src/crawler/lib/index.js.map
Due: azure-pipelines-crawler.yml

Add an ARM template to deploy resources.
  README.md
  arm-templates/resources.json
Due: none

Update the ARM template with flatting the syntax.
  arm-templates/resources.json
Due: none

Update functions to store data as CSV file.
  README.md
  src/functions/crawl/function.json
  src/functions/crawl/index.ts
  src/functions/local.settings.example.json
  src/functions/package.json
Due: azure-pipelines-functions.yml

Fix url verification on subscribe slack event API.
  src/functions/subscribeEventFromSlack/index.ts
Due: azure-pipelines-functions.yml

Remove RP trigger from azure pipeline for crawler.
  azure-pipelines-crawler.yml
Due: none

Update README.
  README.md
Due: none
